// @mixin sizeBtn($width, $height) {
//   width: $width;
//   height: $height;
// }

// @mixin bgc($bgcolor: #f98c40) {
//   background-color: $btnColor;
// }

// @mixin btn() {
//   background-color: $btnColor;
//   @include sizeBtn(406px, 56px);
// }

// @mixin item() {
//   background-color: $inputColor;
//   border: 1px solid $inputColor;
//   border-radius: 10px;
//   display: flex;
// }

// ------------------
@mixin fullScreen() {
  width: 100%;
  height: 100vh;
}
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin sizeForm($width, $height) {
  width: $width;
  height: $height;
}

@mixin backgroudItem() {
  background-color: $itemColor;
  border: 1px solid $itemColor;
  border-radius: 10px;
}
